html, body {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  height: 100%;
  margin: 0;
}

main {
  height: 100%;
  overflow-y: hidden;
}

div {
  align-items: center;
  border: 20px solid #FFF;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
}

.height-100 {
  background-color: #625DA4;
  height: 100%;
}

.height-30 {
  background-color: #56A369;
  height: 30%;
}

.width-50 {
  background-color: #A8B86A;
  margin-left: 30%;
  width: 50%;
}

.height-40 {
  background-color: #BA6B8C;
  height: 40%;
  margin-left: 10%;
  width: 80%;
}

.height-80 {
  background-color: #BB7863;
  height: 80%;
}
